<!DOCTYPE html>
<html class="h-full bg-gray-100" xmlns:th="http://www.thymeleaf.org">
<html class="h-full bg-gray-100" lang="en">
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body class="h-full">

<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->



<header class="relative bg-white shadow-sm">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" th:text="${customer.fullName+' '+customer.lastName}"></h1>
    </div>
</header>

    <main>
    <table class="table-auto w-full">
        <tr>
            <th class="uppercase border text-left px-6 text-left px-6 bg-gray-800 text-white">ID</th>
            <td class="px-6 py-4 border" th:text="${customer.id}"></td>
        </tr>
        <tr>
            <th class="uppercase border text-left px-6 bg-gray-800 text-white">First Name</th>
            <td class="px-6 py-4 border" th:text="${customer.fullName}"></td>
        </tr>
        <tr>
            <th class="uppercase border text-left px-6 text-left px-6 bg-gray-800 text-white">Last Name</th>
            <td class="px-6 py-4 border" th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <th class="uppercase border text-left px-6 text-left px-6 bg-gray-800 text-white">Email</th>
            <td class="px-6 py-4 border" th:text="${customer.email}"></td>
        </tr>
        <tr>
            <th class="uppercase border text-left px-6 text-left px-6 bg-gray-800 text-white">Phone</th>
            <td class="px-6 py-4 border" th:text="${customer.phone}"></td>
        </tr>

    </table>

    </main>


</body>
</html>

